tests/examples/CSP/CSP/gSOAP/csp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CSP"
 targetNamespace="csp"
 xmlns:tns="csp"
 xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
 xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="csp"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap12/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="csp"
  xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
  xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="csp"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2003/05/soap-encoding"/>
  <!-- operation request element -->
  <element name="CSP-LIST-CA">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CSP-LIST-CAResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="CSP-CA">
   <complexType>
    <sequence>
     <element name="dir" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="days" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
     <element name="cnf" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CSP-CAResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="CSP-SIGN-P10">
   <complexType>
    <sequence>
     <element name="ca" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="policy" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="pkcs10" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CSP-SIGN-P10Response">
   <complexType>
    <sequence>
     <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="CSP-SIGN-SPACK">
   <complexType>
    <sequence>
     <element name="ca" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="policy" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="spack" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CSP-SIGN-SPACKResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="CSP-LIST-CERTS">
   <complexType>
    <sequence>
     <element name="ca" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="compress" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CSP-LIST-CERTSResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="CSP-REMOVE-CERT">
   <complexType>
    <sequence>
     <element name="ca" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="serial" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CSP-REMOVE-CERTResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="CSP-ZERO-CERTS">
   <complexType>
    <sequence>
     <element name="ca" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CSP-ZERO-CERTSResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="CSP-LIST-CARequest">
 <part name="parameters" element="ns:CSP-LIST-CA"/>
</message>

<message name="CSP-LIST-CAResponse">
 <part name="parameters" element="ns:CSP-LIST-CAResponse"/>
</message>

<message name="CSP-CARequest">
 <part name="parameters" element="ns:CSP-CA"/>
</message>

<message name="CSP-CAResponse">
 <part name="parameters" element="ns:CSP-CAResponse"/>
</message>

<message name="CSP-SIGN-P10Request">
 <part name="parameters" element="ns:CSP-SIGN-P10"/>
</message>

<message name="CSP-SIGN-P10Response">
 <part name="parameters" element="ns:CSP-SIGN-P10Response"/>
</message>

<message name="CSP-SIGN-SPACKRequest">
 <part name="parameters" element="ns:CSP-SIGN-SPACK"/>
</message>

<message name="CSP-SIGN-SPACKResponse">
 <part name="parameters" element="ns:CSP-SIGN-SPACKResponse"/>
</message>

<message name="CSP-LIST-CERTSRequest">
 <part name="parameters" element="ns:CSP-LIST-CERTS"/>
</message>

<message name="CSP-LIST-CERTSResponse">
 <part name="parameters" element="ns:CSP-LIST-CERTSResponse"/>
</message>

<message name="CSP-REMOVE-CERTRequest">
 <part name="parameters" element="ns:CSP-REMOVE-CERT"/>
</message>

<message name="CSP-REMOVE-CERTResponse">
 <part name="parameters" element="ns:CSP-REMOVE-CERTResponse"/>
</message>

<message name="CSP-ZERO-CERTSRequest">
 <part name="parameters" element="ns:CSP-ZERO-CERTS"/>
</message>

<message name="CSP-ZERO-CERTSResponse">
 <part name="parameters" element="ns:CSP-ZERO-CERTSResponse"/>
</message>

<portType name="CSPPortType">
 <operation name="CSP-LIST-CA">
  <documentation>Service definition of function ns__CSP_LIST_CA</documentation>
  <input message="tns:CSP-LIST-CARequest"/>
  <output message="tns:CSP-LIST-CAResponse"/>
 </operation>
 <operation name="CSP-CA">
  <documentation>Service definition of function ns__CSP_CA</documentation>
  <input message="tns:CSP-CARequest"/>
  <output message="tns:CSP-CAResponse"/>
 </operation>
 <operation name="CSP-SIGN-P10">
  <documentation>Service definition of function ns__CSP_SIGN_P10</documentation>
  <input message="tns:CSP-SIGN-P10Request"/>
  <output message="tns:CSP-SIGN-P10Response"/>
 </operation>
 <operation name="CSP-SIGN-SPACK">
  <documentation>Service definition of function ns__CSP_SIGN_SPACK</documentation>
  <input message="tns:CSP-SIGN-SPACKRequest"/>
  <output message="tns:CSP-SIGN-SPACKResponse"/>
 </operation>
 <operation name="CSP-LIST-CERTS">
  <documentation>Service definition of function ns__CSP_LIST_CERTS</documentation>
  <input message="tns:CSP-LIST-CERTSRequest"/>
  <output message="tns:CSP-LIST-CERTSResponse"/>
 </operation>
 <operation name="CSP-REMOVE-CERT">
  <documentation>Service definition of function ns__CSP_REMOVE_CERT</documentation>
  <input message="tns:CSP-REMOVE-CERTRequest"/>
  <output message="tns:CSP-REMOVE-CERTResponse"/>
 </operation>
 <operation name="CSP-ZERO-CERTS">
  <documentation>Service definition of function ns__CSP_ZERO_CERTS</documentation>
  <input message="tns:CSP-ZERO-CERTSRequest"/>
  <output message="tns:CSP-ZERO-CERTSResponse"/>
 </operation>
</portType>

<binding name="CSP" type="tns:CSPPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="CSP-LIST-CA">
  <SOAP:operation/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="CSP-CA">
  <SOAP:operation/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="CSP-SIGN-P10">
  <SOAP:operation/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="CSP-SIGN-SPACK">
  <SOAP:operation/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="CSP-LIST-CERTS">
  <SOAP:operation/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="CSP-REMOVE-CERT">
  <SOAP:operation/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="CSP-ZERO-CERTS">
  <SOAP:operation/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="CSP">
 <documentation>gSOAP 2.7.6c generated service definition</documentation>
 <port name="CSP" binding="tns:CSP">
  <SOAP:address location="http://10.30.1.131:4433/"/>
 </port>
</service>

</definitions>
